<script>
    $(document).ready(function () {
        var form = $('<form action="http://chatapp1.dangnh2002.com/chat" method="post"> <input type="text" name="channel" value="@Session["ID_Channel"]" /></form>');
        $('body').append(form);
        form.submit();
        return;
    });
</script>